div.lists_container
    div.list_container
        div.list_header_container
            div
                if lists[0]
                    h3.lists_title#list_title=lists[0].name
                    div.rename_container#hidden
                        input#rename_input(type= "text")
                        button#rename_btn(class= `input-listid-${lists[0].id}`) Rename
            div
                if lists[0]
                    button(class=`delete-button-listid-${lists[0].id}`)#delete_btn Delete List
                    include confirm-modal.pug
                    button#edit_btn Edit List

        div.movies_container#dynamic_container
            if lists[0]
                each movie in lists[0].Movies
                    div.movie_container(id =`remove-btn-moiveId-${movie.id}`)
                            div.remove_icon
                                img(src="/svg/noun-delete-16504.svg" class= `remove_icon_btn remove_icon_btn_movieId_${movies.id} remove_icon_btn_listId_${listId}`).removeIconsvg
                                img(class='posterImg' src=movie.posterImg)
                            a(href=`/movies/${movie.id}`).movie_title= movie.name
