extends layout.pug

block content
    div(class='main_movie_container')
        div(class='movie_info_container')
            div(class='movie_img_container')
                img(class='movie_img' src=movie.posterImg)
            div(class='list_button_container')
                button(class='list_button' type='submit') Want To Watch
            div(class='movie_description_container')
                p(class='movie_info_title')= movie.name
                p(class='release_date') Release date: #{movie.releaseDate.getMonth()} - #{movie.releaseDate.getDay()} - #{movie.releaseDate.getFullYear()}
                p(class='movie_rating') Rating: #{movie.rating}
                p(class='movie_description') Description:  #{movie.description}
        div(class='movie_review_container')
            div(class='review_container')
                form(class='hidden' id='new-review')
                    label(for='content')
                    textarea(name='content' id='textarea')
                    button(class='submit_review_btn' type='submit' id='submit-review') Submit Review
                div(class='reviews_description')
            div(class='review_btn_container')
                button(class='add_review_btn') Write a review

    script(src='/javascripts/reviews_dynamic.js' type='module')
