extends layout.pug

block content
    div(class='main_movie_container')
        div(class='movie_info_container')
            //- div(class='list_button_container')
            div(class='movie_img_container')
                img(class='movie_img' src=movie.posterImg)
                button(class='list_button' type='submit') Want To Watch
            div(class='movie_description_container')
                p(class='movie_info_title')= movie.name
                p(class='release_date') Release date: #{movie.releaseDate.getMonth()} - #{movie.releaseDate.getDay()} - #{movie.releaseDate.getFullYear()}
                p(class='movie_rating') Rating: #{movie.rating}
                p(class='movie_description') Description:  #{movie.description}
    div(class='movie_review_container')
        div(class='review_container')
            div(class='review_btn_container')
                form(action='/reviews/new' method='get')
                    button(class='add_review_btn' type='submit') Write a review
                button(class='edit_review_btn') Edit review
                button(class='delete_review_btn') Delete review
            form(class='hidden')
                label(for='content')
                textarea(name='content')
                button(class='submit_review_btn') Submit Review
        div(class='reviews_description')
